users index(/users)
<body>
 <main>
<!--左側ページ-->
<!--テンプレートファイルを呼び出す-->
<%= render 'books/list', user:@user %>

<!--右側ページ-->
<!--全ユーザー情報-->
 <h1>Users</h1>
  <table class="table">
   <thead>
    <tr>
      <th>
        image
      </th>
      <th>
        name
      </th>
      <th colspan="1"></th>
    </tr>
   </thead>
  
   <tbody>
    <% @users.each do |user| %>
     <tr>
      <td>
      <%= image_tag user.get_profile_image(100,100) %>
      </td>
      <td>
      <%= user.name %>
      </td>
      <td>
      <%=link_to "Show", user_path(user.id) %>
      </td>
      </tr>
     <% end %>
   </tbody>
  <table>
 
 </main>
 <!--フッターはapplication.html.erbに-->
</body>