<!--ログアウトが成功した時のフラッシュメッセージ-->
<div>
  <%= flash[:notice] %>
</div>

<h1>welcome to Bookers !!</h1>
<i class="fa-solid fa-book"></i>
<p>In Bookers,

you can share and exchange your opinions , inpressions , and emotions<br>

about various books!</p>

<!--ログインとサインアップボタン-->
<li>
  <%= link_to "Sign up", new_user_registration_path %>
</li>
<li>
   <%= link_to "Log in ", new_user_session_path %>
</li>
<!--ヘッダーには、ホーム、アバウト、サインアップ、ログイン-->
